{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>
{# <pre>
    {{ dump(app.user)}}
</pre>
 #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MatchDay</th>
                <th>IsWinner</th>
                <th>OnPlay</th>
                <th>VisitorTeam</th>
                <th>LocalTeam</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.matchDay ? game.matchDay|date('Y-m-d') : '' }}</td>
                <td>{{ game.isWinner ? 'Yes' : 'No' }}</td>
                <td>{{ game.onPlay }}</td>
                <td>{{ game.visitorTeam }}</td>
                <td>{{ game.localTeam }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                <a href="{{ path('app_game_new') }}">Create new</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('dashboard_admin') }}" >Back Dashboard</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a href="{{ path('dashboard_user') }}" >Back Dashboard</a>
                {% endif %}
{% endblock %}
