{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Lista Clubes de Primera Categoria</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Island</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}

            <tr>
                <td>{{ club.id }}</td>
                <td>{{ club.name }}</td>
                <td>{{ club.island }}</td>
                <td>
                    <a href="{{ path('app_club_show', {'id': club.id}) }}">show</a>

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_club_edit', {'id': club.id}) }}">edit</a>
                    {% endif %}
                
                </td>
            </tr>


        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
         <a href="{{ path('app_club_new') }}">Create new</a>
    {% endif %}
        <a href="{{ path('dashboard_admin') }}" >Back Dashboard</a>
{% endblock %}
