{% extends 'base.html.twig' %}

{% block title %}Dashboard User{% endblock %}

{% block body %}
   <header>
        <nav>
            <a href="{{ path('app_club_index') }}">Clubes</a>
            <a href="{{path('app_team_index')}}">Equipos</a>
            <a href="{{path('app_game_index')}}">Luchadas</a>
            <a href="{{path('app_score_index')}}">Marcadores</a>  
            <a href="#">Usuarios</a>
        </nav>
        <button class="login-button" onclick="window.location.href='{{ path('app_logout') }}'" >Logout</button>
    </header>
    <main> 
        <h1> DASHBOARD DEl ADMIN</h1>
    </main>

{% endblock %}
